{% extends 'base.html' %}
{% block content %}
    <div class="card-wrapper">
        <div class="card">
            <h1 class="center">Create an account</h1>
            <form   name="signup_form">
                
                <label for="name">Name</label>
                <input type="text" name="name" class="field" required>

                <label for="email">E-mail</label>
                <input type="text" name="email" class="field" required>

                <label for="pwd">Password</label>
                <input type="text" name="pwd" class="field" required>

                <p class="error erro--hidden"></p>

                <input type="submit" value="Sign Up" class="btn">
            </form>

        </div>

    </div>
{% endblock content %}