{% extends 'base.html' %}
{% block content %}
<p class="error">
    {% for message in get_flashed_messages() %}
        {{message}}
    {% endfor %}
</p>
<div class="card-wrapper">
    <div class="card">
        <h1 class="center">Log In</h1>
        <form name="login_form" method="POST">
            {# For csrf_token security#}
            {{form.hidden_tag()}}
            
            {{form.email.label}}
            {{form.email(class="field")}}

            {{form.password_hash.label}}
            {{form.password_hash(class="field")}}

            {{form.submit(class="btn")}}
            <a href="{{url_for('register')}}">Haven't signed up yet?</a>
        </form>
    </div>
</div>
{% endblock content %}
    
    