{% extends 'base.html' %}
{% block content %}
<div class="card-wrapper">
    <div class="card">
        <h1 class="center">Create an account</h1>
        <form   name="signup_form" method="POST">
            {{form.hidden_tag()}}
            
            {{form.name.label}}
            {{form.name(class="field")}}

            {{form.username.label}}
            {{form.username(class="field")}}
    
            {{form.email.label}}
            {{form.email(class="field")}}
    
            {{form.password_hash.label}}
            {{form.password_hash(class="field")}}

            {{form.password_hash2.label}}
            {{form.password_hash2(class="field")}}
    
            {{form.submit(class="btn")}}
            <a href="{{url_for('login')}}">Already signed up?</a>
        </form>
    </div>
</div>
{% endblock content %}