
{% extends 'base.html' %}
{% block content %}
    <div class="card-wrapper">
        <div class="card">
            <h1 class="center">
                Dashboard
            </h1>
            {# veriffier si on a unne seesion ouverte avant de passer à la verification de l'identité de celui qui a fait l'appel à cet url#}
            {% if current_user.id == user.id %}
                <p class="center">You are currently logged in</p>
                <div class="center">
                    <a href="/signout" class="btn btn--secondary">Sign Out</a>
                </div>
            {% else %}
                <p class="center">You are currently logged out</p>
            {% endif %}
            
        </div>
        <div class="card">
            <h2 class="center">Your Info</h2>
            <p>
                <strong>ID:</strong> {{user.id}} <br>
                <strong>Name:</strong> {{user.name}} <br>
                {# On verifie l'identité de celui qui a fait appel à cet url pour afficher/cacher le solde #}
                {% if current_user.id == user.id %}
                    <strong>Solde:</strong> {{user.solde}} <br>
                {% endif %}
                <strong>Email:</strong> {{user.email}} <br>
            </p>
           <div class="center">
                <a href="/list-users" class="btn btn--secondary">List Users</a>
            </div>
        </div>
    </div>
{% endblock content %}